.with-sourcemap {
  background-color: red;
  @apply h-4 w-4 bg-green-500;
}

.with-another-sourcemap {
  /* sourcemap will work here too */
  @apply h-4  w-4 bg-gray-500;
}

.no-sourcemap-here {
  @apply h-4  w-4 bg-black;
}
